.header {
  height: 50px;
  border: 1px solid #edecec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoForm {
  background-color: #edecec;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  gap: 20px;
}

.formGroup {
  display: flex;
  align-items: center;
  gap: 20px;
}

.inputName {
  font-size: 18px;
  font-weight: 600;
}

.inputBox {
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 10px;
}

.myButton {
  color: white;
  background-color: #207b71;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
}

.todoBox {
  width: 280px;
  /* height: 150px; */
  border: 4px solid #207b71;
  border-radius: 10px;
  padding: 12px 24px 24px 24px;
}

.todoTitle {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0;
}

.container {
  max-width: 1200px;
  min-width: 800px;

  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 20px;
}

.btn {
  width: 130px;
  margin: 20px 10px 0 0;
  height: 40px;
  background-color: white;
  border: 0;
}

.btn--del {
  border: 2px solid red;
  border-radius: 10px;
}

.btn--done {
  border: 2px solid green;
  border-radius: 10px;
}
